*.a
*.builtin
*.cmd
*.d
*.ko
*.mod.c
*.o
*.order
*.tmp

.config
.tmp_System.map
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
arch/arm/include/generated/
arch/arm/kernel/asm-offsets.s
include/config/
include/generated/
kernel/bounds.s
scripts/mod/devicetable-offsets.s
vmlinux
